# My
db.sqlite3
.idea/
.vagrant/
*.log

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# virtualenv
.python-version

# Dump-file
dump.json

# Translations
*.mo

# Environment
.env

# Media dir
!public/media/
public/media/*
!public/media/.gitkeep

# Static dir
!public/static/
public/static/*
!public/static/.gitkeep
