# My
db.sqlite3
.idea

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# virtualenv
venv/

# Translations
*.mo

# Static and media roots
# public/
# !public/static/.gitkeep
# !public/media/.gitkeep
