{% extends "base.html" %}
{% load static %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/styles/blog_single_styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/styles/blog_single_responsive.css' %}">
{% endblock styles %}

{% block content %}
    <!-- Home -->

    <div class="home">
        <div class="home_background parallax-window" data-parallax="scroll" data-image-src="{% static "blog/images/blog_single_background.jpg" %}" data-speed="0.8"></div>
    </div>

    <!-- Single Blog Post -->

    <div class="single_post">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="single_post_title">{{ post.title }}</div>
                    <div class="single_post_text">
                        <p>{{ post.text_with_quotes|safe }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Blog Posts -->

    <div class="blog">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="blog_posts d-flex flex-row align-items-start justify-content-between">

                        <!-- Blog post -->
                        <div class="blog_post">
                            <div class="blog_image" style="background-image:url({% static "blog/images/blog_4.jpg" %})"></div>
                            <div class="blog_text">Etiam leo nibh, consectetur nec orci et, tempus tempus ex</div>
                            <div class="blog_button"><a href="{% url 'blog:blog' %}">Continue Reading</a></div>
                        </div>

                        <!-- Blog post -->
                        <div class="blog_post">
                            <div class="blog_image" style="background-image:url({% static "blog/images/blog_5.jpg" %})"></div>
                            <div class="blog_text">Sed viverra pellentesque dictum. Aenean ligula justo, viverra in lacus porttitor</div>
                            <div class="blog_button"><a href="{% url 'blog:blog' %}">Continue Reading</a></div>
                        </div>

                        <!-- Blog post -->
                        <div class="blog_post">
                            <div class="blog_image" style="background-image:url({% static "blog/images/blog_6.jpg" %})"></div>
                            <div class="blog_text">In nisl tortor, tempus nec ex vitae, bibendum rutrum mi. Integer tempus nisi</div>
                            <div class="blog_button"><a href="{% url 'blog:blog' %}">Continue Reading</a></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static "blog/plugins/parallax-js-master/parallax.min.js" %}"></script>
{% endblock scripts %}
