{% extends "base.html" %}
{% load static i18n template_extras %}

{% block title %}{% trans "Contacts" %}{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap4/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/fontawesome-free-5.0.1/css/fontawesome-all.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'contact/styles/contact_styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'contact/styles/contact_responsive.css' %}">
{% endblock styles %}

{% block content %}
    <!-- Contact Info -->

    <div class="contact_info">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="contact_info_container d-flex flex-lg-row flex-column justify-content-between align-items-between">

                        <!-- Contact Item -->
                        <div class="contact_info_item d-flex flex-row align-items-center justify-content-start">
                            <div class="contact_info_image"><img src="{% static "contact/images/contact_1.png" %}" alt=""></div>
                            <div class="contact_info_content">
                                <div class="contact_info_title">{% trans "Phone" %}</div>
                                <div class="contact_info_text">{{ config.phone }}</div>
                            </div>
                        </div>

                        <!-- Contact Item -->
                        <div class="contact_info_item d-flex flex-row align-items-center justify-content-start">
                            <div class="contact_info_image"><img src="{% static "contact/images/contact_2.png" %}" alt=""></div>
                            <div class="contact_info_content">
                                <div class="contact_info_title">{% trans "Email" %}</div>
                                <div class="contact_info_text">{{ config.email }}</div>
                            </div>
                        </div>

                        <!-- Contact Item -->
                        <div class="contact_info_item d-flex flex-row align-items-center justify-content-start">
                            <div class="contact_info_image"><img src="{% static "contact/images/contact_3.png" %}" alt=""></div>
                            <div class="contact_info_content">
                                <div class="contact_info_title">{% trans "Address" %}</div>
                                <div class="contact_info_text">{{ config.address }}</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Contact Form -->

    <div class="contact_form">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="contact_form_container">
                        <div class="contact_form_title">{% trans "Get in Touch" %}</div>

                        <form method="POST" id="contact_form">
                            {% csrf_token %}
                            <div class="contact_form_inputs d-flex flex-md-row flex-column justify-content-between align-items-between">
                                {% add_class_id_to_form_field_tag form.name "contact_form_name input_field" "contact_form_name" %}
                                {% add_class_id_to_form_field_tag form.email "contact_form_email input_field" "contact_form_email" %}
                                {% add_class_id_to_form_field_tag form.phone "contact_form_phone input_field" "contact_form_phone" %}
                            </div>
                            <div class="contact_form_text">
                                {% add_class_id_to_form_field_tag form.message "text_field contact_form_message" "contact_form_message" %}
                            </div>
                            <div class="contact_form_button">
                                <button type="submit" class="button contact_submit_button">{% trans "Send Message" %}</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <div class="panel"></div>
    </div>

    <!-- Map -->
    <script>
        function initGoogleMap()
        {
            var myLatlng = new google.maps.LatLng({{ config.latitude }}, {{ config.longitude }});
            var mapOptions =
                {
                    center: myLatlng,
                    zoom: 14,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    draggable: true,
                    scrollwheel: false,
                    zoomControl: true,
                    zoomControlOptions:
                        {
                            position: google.maps.ControlPosition.RIGHT_CENTER
                        },
                    mapTypeControl: false,
                    scaleControl: false,
                    streetViewControl: false,
                    rotateControl: false,
                    fullscreenControl: true,
                    styles:
                        [
                            {
                                "elementType": "geometry",
                                "stylers": [
                                    {
                                        "color": "#f5f5f5"
                                    }
                                ]
                            },
                            {
                                "elementType": "labels.icon",
                                "stylers": [
                                    {
                                        "visibility": "off"
                                    }
                                ]
                            },
                            {
                                "elementType": "labels.text",
                                "stylers": [
                                    {
                                        "color": "#858585"
                                    }
                                ]
                            },
                            {
                                "elementType": "labels.text.fill",
                                "stylers": [
                                    {
                                        "color": "#858585"
                                    }
                                ]
                            },
                            {
                                "elementType": "labels.text.stroke",
                                "stylers": [
                                    {
                                        "color": "#f5f5f5"
                                    }
                                ]
                            },
                            {
                                "featureType": "administrative.land_parcel",
                                "elementType": "labels.text.fill",
                                "stylers": [
                                    {
                                        "color": "#bdbdbd"
                                    }
                                ]
                            },
                            {
                                "featureType": "poi",
                                "elementType": "geometry",
                                "stylers": [
                                    {
                                        "color": "#eeeeee"
                                    }
                                ]
                            },
                            {
                                "featureType": "poi",
                                "elementType": "labels.text.fill",
                                "stylers": [
                                    {
                                        "color": "#757575"
                                    }
                                ]
                            },
                            {
                                "featureType": "poi.park",
                                "elementType": "geometry",
                                "stylers": [
                                    {
                                        "color": "#e5e5e5"
                                    }
                                ]
                            },
                            {
                                "featureType": "poi.park",
                                "elementType": "labels.text.fill",
                                "stylers": [
                                    {
                                        "color": "#9e9e9e"
                                    }
                                ]
                            },
                            {
                                "featureType": "road",
                                "elementType": "geometry",
                                "stylers": [
                                    {
                                        "color": "#ffffff"
                                    }
                                ]
                            },
                            {
                                "featureType": "road.arterial",
                                "elementType": "labels.text.fill",
                                "stylers": [
                                    {
                                        "color": "#757575"
                                    }
                                ]
                            },
                            {
                                "featureType": "road.highway",
                                "elementType": "geometry",
                                "stylers": [
                                    {
                                        "color": "#dadada"
                                    }
                                ]
                            },
                            {
                                "featureType": "road.highway",
                                "elementType": "labels.text.fill",
                                "stylers": [
                                    {
                                        "color": "#616161"
                                    }
                                ]
                            },
                            {
                                "featureType": "road.local",
                                "elementType": "labels.text.fill",
                                "stylers": [
                                    {
                                        "color": "#9e9e9e"
                                    }
                                ]
                            },
                            {
                                "featureType": "transit.line",
                                "elementType": "geometry",
                                "stylers": [
                                    {
                                        "color": "#e5e5e5"
                                    }
                                ]
                            },
                            {
                                "featureType": "transit.station",
                                "elementType": "geometry",
                                "stylers": [
                                    {
                                        "color": "#eeeeee"
                                    }
                                ]
                            },
                            {
                                "featureType": "water",
                                "elementType": "geometry",
                                "stylers": [
                                    {
                                        "color": "#c9c9c9"
                                    }
                                ]
                            },
                            {
                                "featureType": "water",
                                "elementType": "geometry.fill",
                                "stylers": [
                                    {
                                        "color": "#ededed"
                                    }
                                ]
                            },
                            {
                                "featureType": "water",
                                "elementType": "labels.text.fill",
                                "stylers": [
                                    {
                                        "color": "#9e9e9e"
                                    }
                                ]
                            }
                        ]
                }

            // Initialize a map with options
            map = new google.maps.Map(document.getElementById('map'), mapOptions);

            // Use an image for a marker
            var image = "{% static 'contact/images/marker.png' %}";
            var marker = new google.maps.Marker(
                {
                    position: myLatlng,
                    map: map,
                    icon: image
                });

            // Re-center map after window resize
            google.maps.event.addDomListener(window, 'resize', function()
            {
                setTimeout(function()
                {
                    google.maps.event.trigger(map, "resize");
                    map.setCenter(myLatlng);
                }, 1400);
            });
        }
    </script>
    <div class="contact_map">
        <div id="google_map" class="google_map">
            <div class="map_container">
                <div id="map"></div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "styles/bootstrap4/popper.js" %}"></script>
    <script src="{% static "styles/bootstrap4/bootstrap.min.js" %}"></script>
    <script src="{% static "plugins/greensock/TweenMax.min.js" %}"></script>
    <script src="{% static "plugins/greensock/TimelineMax.min.js" %}"></script>
    <script src="{% static "plugins/scrollmagic/ScrollMagic.min.js" %}"></script>
    <script src="{% static "plugins/greensock/animation.gsap.min.js" %}"></script>
    <script src="{% static "plugins/greensock/ScrollToPlugin.min.js" %}"></script>
    <script src="{% static "plugins/easing/easing.js" %}"></script>
    <script src="{% static "contact/js/contact_custom.js" %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
{% endblock scripts %}
