{% extends "base.html" %}
{% load static i18n widget_tweaks %}

{% block title %}{% trans "Contacts" %}{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap4/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/fontawesome-free-5.0.1/css/fontawesome-all.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'contact/styles/contact_styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'contact/styles/contact_responsive.css' %}">
{% endblock styles %}

{% block content %}
    <!-- Contact Info -->

    <div class="contact_info">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="contact_info_container d-flex flex-lg-row flex-column justify-content-between align-items-between">

                        <!-- Contact Item -->
                        <div class="contact_info_item d-flex flex-row align-items-center justify-content-start">
                            <div class="contact_info_image"><img src="{% static "contact/images/contact_1.png" %}" alt=""></div>
                            <div class="contact_info_content">
                                <div class="contact_info_title">{% trans "Phone" %}</div>
                                <div class="contact_info_text">{{ config.phone }}</div>
                            </div>
                        </div>

                        <!-- Contact Item -->
                        <div class="contact_info_item d-flex flex-row align-items-center justify-content-start">
                            <div class="contact_info_image"><img src="{% static "contact/images/contact_2.png" %}" alt=""></div>
                            <div class="contact_info_content">
                                <div class="contact_info_title">{% trans "Email" %}</div>
                                <div class="contact_info_text">{{ config.email }}</div>
                            </div>
                        </div>

                        <!-- Contact Item -->
                        <div class="contact_info_item d-flex flex-row align-items-center justify-content-start">
                            <div class="contact_info_image"><img src="{% static "contact/images/contact_3.png" %}" alt=""></div>
                            <div class="contact_info_content">
                                <div class="contact_info_title">{% trans "Address" %}</div>
                                <div class="contact_info_text">{{ config.address }}</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Contact Form -->

    <div class="contact_form">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="contact_form_container">
                        <div class="contact_form_title">{% trans "Get in Touch" %}</div>

                        <form method="POST" id="contact_form">
                            {% csrf_token %}
                            <div class="contact_form_inputs d-flex flex-md-row flex-column justify-content-between align-items-between">
                                {% render_field form.name class="contact_form_name input_field" id="contact_form_name" label="" %}
                                {% render_field form.email class="contact_form_email input_field" id="contact_form_email" label="" %}
                                {% render_field form.phone class="contact_form_phone input_field" id="contact_form_phone" label="" %}
                            </div>
                            <div class="contact_form_text">
                                {% render_field form.message class="text_field contact_form_message" id="contact_form_message" label="" %}
                            </div>
                            <div class="contact_form_button">
                                <button type="submit" class="button contact_submit_button">{% trans "Send Message" %}</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <div class="panel"></div>
    </div>

    <!-- Map -->
    <div class="contact_map">
        <div id="google_map" class="google_map">
            <div class="map_container">
                <div id="map"></div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "styles/bootstrap4/popper.js" %}"></script>
    <script src="{% static "styles/bootstrap4/bootstrap.min.js" %}"></script>
    <script src="{% static "plugins/greensock/TweenMax.min.js" %}"></script>
    <script src="{% static "plugins/greensock/TimelineMax.min.js" %}"></script>
    <script src="{% static "plugins/scrollmagic/ScrollMagic.min.js" %}"></script>
    <script src="{% static "plugins/greensock/animation.gsap.min.js" %}"></script>
    <script src="{% static "plugins/greensock/ScrollToPlugin.min.js" %}"></script>
    <script src="{% static "plugins/easing/easing.js" %}"></script>
    {% include "contact/map_script.html" %}
    <script src="{% static "contact/js/contact_custom.js" %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
{% endblock scripts %}
