server {
    listen 80;
    server_name {{ nginx_server_name }} {{ ngrok_nginx_server_name }};

    location = /favicon.ico { access_log off; log_not_found off; }
    location = /robots.txt { access_log off; log_not_found off; }
    location /static/ {
        root /vagrant/public;
    }

    location / {
        include proxy_params;
        proxy_pass http://unix:/run/gunicorn.sock;
    }
}
