{% load static i18n %}
{% load template_extras %}
{% get_available_languages as languages %}
{% trans "Menu Item" as menu_item %}

<!-- Top Bar -->

<div class="top_bar">
    <div class="container">
        <div class="row">
            <div class="col d-flex flex-row">
                <div class="top_bar_contact_item"><div class="top_bar_icon"><img src="{% static "images/phone.png" %}" alt=""></div>{{ config.phone }}</div>
                <div class="top_bar_contact_item"><div class="top_bar_icon"><a href="mailto:{{ config.email }}"><img src="{% static "images/mail.png" %}" alt=""></a></div><a href="mailto:{{ config.email }}">{{ config.email }}</a></div>
                <div class="top_bar_content ml-auto">
                    <div class="top_bar_menu">
                        <ul class="standard_dropdown top_bar_dropdown">
                            <li>
                                <a href="{% translate_url_tag request.path "en" %}">{% trans "Language" %}<i class="fas fa-chevron-down"></i></a>
                                <ul>
                                    {% for lang_code, lang_name in languages %}
                                        <li><a href="{% translate_url_tag request.path lang_code %}">{{ lang_name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li>
                                <a href="#">$ {% trans "USD Dollar" %}<i class="fas fa-chevron-down"></i></a>
                                <ul>
                                    <li><a href="#">₽ {% trans "RUB Ruble" %}</a></li>
                                    <li><a href="#">₴ {% trans "UAN Hryvnia" %}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="top_bar_user">
                        <div class="user_icon"><img src="{% static "images/user.svg" %}" alt=""></div>
                        <div><a href="#">{% trans "Register" %}</a></div>
                        <div><a href="#">{% trans "Sign in" %}</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Header Main -->

<div class="header_main">
    <div class="container">
        <div class="row">

            <!-- Logo -->
            <div class="col-lg-2 col-sm-3 col-3 order-1">
                <div class="logo_container">
                    <div class="logo"><a href="{% url "shop:index" %}">OneTech</a></div>
                </div>
            </div>

            <!-- Search -->
            <div class="col-lg-6 col-12 order-lg-2 order-3 text-lg-left text-right">
                <div class="header_search">
                    <div class="header_search_content">
                        <div class="header_search_form_container">
                            <form action="#" class="header_search_form clearfix">
                                <input type="search" required="required" class="header_search_input" placeholder="{% trans "Search for products..." %}">
                                <div class="custom_dropdown">
                                    <div class="custom_dropdown_list">
                                        <span class="custom_dropdown_placeholder clc">{% trans "All Categories" %}</span>
                                        <i class="fas fa-chevron-down"></i>
                                        <ul class="custom_list clc">
                                            <li><a class="clc" href="#">{% trans "All Categories" %}</a></li>
                                            <li><a class="clc" href="#">{% trans "Computers" %}</a></li>
                                            <li><a class="clc" href="#">{% trans "Laptops" %}</a></li>
                                            <li><a class="clc" href="#">{% trans "Cameras" %}</a></li>
                                            <li><a class="clc" href="#">{% trans "Hardware" %}</a></li>
                                            <li><a class="clc" href="#">{% trans "Smartphones" %}</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <button type="submit" class="header_search_button trans_300" value="Submit"><img src="{% static "images/search.png" %}" alt=""></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Wishlist -->
            <div class="col-lg-4 col-9 order-lg-3 order-2 text-lg-left text-right">
                <div class="wishlist_cart d-flex flex-row align-items-center justify-content-end">
                    <div class="wishlist d-flex flex-row align-items-center justify-content-end">
                        <div class="wishlist_icon"><img src="{% static "images/heart.png" %}" alt=""></div>
                        <div class="wishlist_content">
                            <div class="wishlist_text"><a href="#">{% trans "Wishlist" %}</a></div>
                            <div class="wishlist_count">115</div>
                        </div>
                    </div>

                    <!-- Cart -->
                    <div class="cart">
                        <div class="cart_container d-flex flex-row align-items-center justify-content-end">
                            <div class="cart_icon">
                                <img src="{% static "images/cart.png" %}" alt="">
                                <div class="cart_count"><span>10</span></div>
                            </div>
                            <div class="cart_content">
                                <div class="cart_text"><a href="#">{% trans "Cart" %}</a></div>
                                <div class="cart_price">$85</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Main Navigation -->

<nav class="main_nav">
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="main_nav_content d-flex flex-row">

                    <!-- Categories Menu -->

                    <div class="cat_menu_container">
                        <div class="cat_menu_title d-flex flex-row align-items-center justify-content-start">
                            <div class="cat_burger"><span></span><span></span><span></span></div>
                            <div class="cat_menu_text">{% trans "categories" %}</div>
                        </div>

                        <ul class="cat_menu">
                            <li><a href="#">{% trans "Computers & Laptops" %}<i class="fas fa-chevron-right ml-auto"></i></a></li>
                            <li><a href="#">{% trans "Cameras & Photos" %}<i class="fas fa-chevron-right"></i></a></li>
                            <li class="hassubs">
                                <a href="#">{% trans "Hardware" %}<i class="fas fa-chevron-right"></i></a>
                                <ul>
                                    <li class="hassubs">
                                        <a href="#">{{ menu_item }}<i class="fas fa-chevron-right"></i></a>
                                        <ul>
                                            <li><a href="#">{{ menu_item }}<i class="fas fa-chevron-right"></i></a></li>
                                            <li><a href="#">{{ menu_item }}<i class="fas fa-chevron-right"></i></a></li>
                                            <li><a href="#">{{ menu_item }}<i class="fas fa-chevron-right"></i></a></li>
                                            <li><a href="#">{{ menu_item }}<i class="fas fa-chevron-right"></i></a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">{{ menu_item }}<i class="fas fa-chevron-right"></i></a></li>
                                    <li><a href="#">{{ menu_item }}<i class="fas fa-chevron-right"></i></a></li>
                                    <li><a href="#">{{ menu_item }}<i class="fas fa-chevron-right"></i></a></li>
                                </ul>
                            </li>
                            <li><a href="#">{% trans "Smartphones & Tablets" %}<i class="fas fa-chevron-right"></i></a></li>
                            <li><a href="#">{% trans "TV & Audio" %}<i class="fas fa-chevron-right"></i></a></li>
                            <li><a href="#">{% trans "Gadgets" %}<i class="fas fa-chevron-right"></i></a></li>
                            <li><a href="#">{% trans "Car Electronics" %}<i class="fas fa-chevron-right"></i></a></li>
                            <li><a href="#">{% trans "Video Games & Consoles" %}<i class="fas fa-chevron-right"></i></a></li>
                            <li><a href="#">{% trans "Accessories" %}<i class="fas fa-chevron-right"></i></a></li>
                        </ul>
                    </div>

                    <!-- Main Nav Menu -->

                    <div class="main_nav_menu ml-auto">
                        <ul class="standard_dropdown main_nav_dropdown">
                            <li><a href="{% url "shop:index" %}">{% trans "Home" %}<i class="fas fa-chevron-down"></i></a></li>
                            <li class="hassubs">
                                <a href="#">{% trans "Super Deals" %}<i class="fas fa-chevron-down"></i></a>
                                <ul>
                                    <li>
                                        <a href="#">{{ menu_item }}<i class="fas fa-chevron-down"></i></a>
                                        <ul>
                                            <li><a href="#">{{ menu_item }}<i class="fas fa-chevron-down"></i></a></li>
                                            <li><a href="#">{{ menu_item }}<i class="fas fa-chevron-down"></i></a></li>
                                            <li><a href="#">{{ menu_item }}<i class="fas fa-chevron-down"></i></a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">{{ menu_item }}<i class="fas fa-chevron-down"></i></a></li>
                                    <li><a href="#">{{ menu_item }}<i class="fas fa-chevron-down"></i></a></li>
                                    <li><a href="#">{{ menu_item }}<i class="fas fa-chevron-down"></i></a></li>
                                </ul>
                            </li>
                            <li class="hassubs">
                                <a href="#">{% trans "Featured Brands" %}<i class="fas fa-chevron-down"></i></a>
                                <ul>
                                    <li>
                                        <a href="#">{{ menu_item }}<i class="fas fa-chevron-down"></i></a>
                                        <ul>
                                            <li><a href="#">{{ menu_item }}<i class="fas fa-chevron-down"></i></a></li>
                                            <li><a href="#">{{ menu_item }}<i class="fas fa-chevron-down"></i></a></li>
                                            <li><a href="#">{{ menu_item }}<i class="fas fa-chevron-down"></i></a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">{{ menu_item }}<i class="fas fa-chevron-down"></i></a></li>
                                    <li><a href="#">{{ menu_item }}<i class="fas fa-chevron-down"></i></a></li>
                                    <li><a href="#">{{ menu_item }}<i class="fas fa-chevron-down"></i></a></li>
                                </ul>
                            </li>
                            <li class="hassubs">
                                <a href="#">{% trans "Pages" %}<i class="fas fa-chevron-down"></i></a>
                                <ul>
                                    <li><a href="shop:index">{% trans "Shop" %}<i class="fas fa-chevron-down"></i></a></li>
                                    <li><a href="product.html">{% trans "Product" %}<i class="fas fa-chevron-down"></i></a></li>
                                    <li><a href="{% url "blog:index" %}">{% trans "Blog" %}<i class="fas fa-chevron-down"></i></a></li>
                                    <li><a href="{% url "blog:post" post_slug="vivamus_sed_nunc" %}">{% trans "Blog Post" %}<i class="fas fa-chevron-down"></i></a></li>
                                    <li><a href="regular.html">{% trans "Regular Post" %}<i class="fas fa-chevron-down"></i></a></li>
                                    <li><a href="cart.html">{% trans "Cart" %}<i class="fas fa-chevron-down"></i></a></li>
                                    <li><a href="{% url "contact:index" %}">{% trans "Contact" %}<i class="fas fa-chevron-down"></i></a></li>
                                </ul>
                            </li>
                            <li><a href="{% url "blog:index" %}">{% trans "Blog" %}<i class="fas fa-chevron-down"></i></a></li>
                            <li><a href="{% url "contact:index" %}">{% trans "Contact" %}<i class="fas fa-chevron-down"></i></a></li>
                        </ul>
                    </div>

                    <!-- Menu Trigger -->

                    <div class="menu_trigger_container ml-auto">
                        <div class="menu_trigger d-flex flex-row align-items-center justify-content-end">
                            <div class="menu_burger">
                                <div class="menu_trigger_text">{% trans "menu" %}</div>
                                <div class="cat_burger menu_burger_inner"><span></span><span></span><span></span></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</nav>

<!-- Menu -->

<div class="page_menu">
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="page_menu_content">

                    <div class="page_menu_search">
                        <form action="#">
                            <input type="search" required="required" class="page_menu_search_input" placeholder="{% trans "Search for products..." %}">
                        </form>
                    </div>
                    <ul class="page_menu_nav">
                        <li class="page_menu_item has-children">
                            <a href="#">{% trans "Language" %}<i class="fa fa-angle-down"></i></a>
                            <ul class="page_menu_selection">
                                {% for lang_code, lang_name in languages %}
                                    <li><a href="{% translate_url_tag request.path lang_code %}">{{ lang_name }}<i class="fa fa-angle-down"></i></a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="page_menu_item has-children">
                            <a href="#">{% trans "Currency" %}<i class="fa fa-angle-down"></i></a>
                            <ul class="page_menu_selection">
                                <li><a href="#">{% trans "USD Dollar" %}<i class="fa fa-angle-down"></i></a></li>
                                <li><a href="#">{% trans "RUB Ruble" %}<i class="fa fa-angle-down"></i></a></li>
                                <li><a href="#">{% trans "UAN Hryvnia" %}<i class="fa fa-angle-down"></i></a></li>
                            </ul>
                        </li>
                        <li class="page_menu_item">
                            <a href="{% url "shop:index" %}">{% trans "Home" %}<i class="fa fa-angle-down"></i></a>
                        </li>
                        <li class="page_menu_item has-children">
                            <a href="#">{% trans "Super Deals" %}<i class="fa fa-angle-down"></i></a>
                            <ul class="page_menu_selection">
                                <li><a href="#">{% trans "Super Deals" %}<i class="fa fa-angle-down"></i></a></li>
                                <li class="page_menu_item has-children">
                                    <a href="#">{{ menu_item }}<i class="fa fa-angle-down"></i></a>
                                    <ul class="page_menu_selection">
                                        <li><a href="#">{{ menu_item }}<i class="fa fa-angle-down"></i></a></li>
                                        <li><a href="#">{{ menu_item }}<i class="fa fa-angle-down"></i></a></li>
                                        <li><a href="#">{{ menu_item }}<i class="fa fa-angle-down"></i></a></li>
                                        <li><a href="#">{{ menu_item }}<i class="fa fa-angle-down"></i></a></li>
                                    </ul>
                                </li>
                                <li><a href="#">{{ menu_item }}<i class="fa fa-angle-down"></i></a></li>
                                <li><a href="#">{{ menu_item }}<i class="fa fa-angle-down"></i></a></li>
                                <li><a href="#">{{ menu_item }}<i class="fa fa-angle-down"></i></a></li>
                            </ul>
                        </li>
                        <li class="page_menu_item has-children">
                            <a href="#">{% trans "Featured Brands" %}<i class="fa fa-angle-down"></i></a>
                            <ul class="page_menu_selection">
                                <li><a href="#">{% trans "Featured Brands" %}<i class="fa fa-angle-down"></i></a></li>
                                <li><a href="#">{{ menu_item }}<i class="fa fa-angle-down"></i></a></li>
                                <li><a href="#">{{ menu_item }}<i class="fa fa-angle-down"></i></a></li>
                                <li><a href="#">{{ menu_item }}<i class="fa fa-angle-down"></i></a></li>
                            </ul>
                        </li>
                        <li class="page_menu_item has-children">
                            <a href="#">{% trans "Trending Styles" %}<i class="fa fa-angle-down"></i></a>
                            <ul class="page_menu_selection">
                                <li><a href="#">{% trans "Trending Styles" %}<i class="fa fa-angle-down"></i></a></li>
                                <li><a href="#">{{ menu_item }}<i class="fa fa-angle-down"></i></a></li>
                                <li><a href="#">{{ menu_item }}<i class="fa fa-angle-down"></i></a></li>
                                <li><a href="#">{{ menu_item }}<i class="fa fa-angle-down"></i></a></li>
                            </ul>
                        </li>
                        <li class="page_menu_item"><a href="{% url "blog:index" %}">{% trans "Blog" %}<i class="fa fa-angle-down"></i></a></li>
                        <li class="page_menu_item"><a href="{% url "contact:index" %}">{% trans "Contact" %}<i class="fa fa-angle-down"></i></a></li>
                    </ul>

                    <div class="menu_contact">
                        <div class="menu_contact_item"><div class="menu_contact_icon"><img src="{% static "images/phone_white.png" %}" alt=""></div>{{ config.phone }}</div>
                        <div class="menu_contact_item"><div class="menu_contact_icon"><a href="mailto:{{ config.email }}"><img src="{% static "images/mail_white.png" %}" alt=""></a></div><a href="mailto:{{ config.email }}">{{ config.email }}</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
